<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box
    }

    /* Set height of body and the document to 100% */
    body,
    html {
      height: 100%;
      margin: 0;
      font-family: Arial;
      background: black url('/static/img/image.jpg') repeat fixed center;
    }

    /* Style tab links */
    .tablink {
      background-color: #555;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      font-size: 17px;
      width: 25%;
    }

    .tablink:hover {
      background-color: #777;
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
      color: white;
      display: none;
      padding: 100px 20px;
      height: 100%;
      /* 
      background-color: black;
      background-image: url('/static/img/image.jpg'); */
      /* background: black url('/static/img/image.jpg') repeat fixed center; */
    }

    /* #About {
      background-color: black;
      background-image: url('/static/img/image.jpg');
    }

    #Visualization {
      background-color: black;
      background-image: url('/static/img/image.jpg');
    }

    #Developer-Portal {
      background-color: black;
      background-image: url('/static/img/image.jpg');
    }

    #Gamer-Island {
      background-color: black;
      background-image: url('/static/img/image.jpg');
    } */

    #predictor_result {
      padding: 20px 20px;
    }

    #recommender_result {
      padding: 20px 20px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>

<body>

  <button class="tablink" onclick="openPage('About', this, 'darkgray')" id="defaultOpen">About</button>
  <button class="tablink" onclick="openPage('Visualization', this, 'darkgray')">Visualization</button>
  <button class="tablink" onclick="openPage('Developer-Portal', this, 'darkgray')">Developer Portal</button>
  <button class="tablink" onclick="openPage('Gamer-Island', this, 'darkgray')">Gamer Island</button>

  <div id="About" class="tabcontent">
    <h1>About</h1>
    <p>
    <h4>The main objective of this project is to explore and analyze the current video game market from both
      perspectives of developer and consumer.</h4>
    <ol>
      <li> For game developers, the question I would like to solve is what genre of games should they make, on which
        platform,
        via which publisher and etc, in order to achieve high profitability.<br><br>
      </li>
      <li> For consumers/gamers, the question I would like to solve is which game should they play next within their
        invested
        platforms based on the game content and their preference.<br><br>
      </li>
    </ol>
    </p>

    <p>
    <h4>There are two datasets used in this project.</h4>
    <ul>
      <li>The first dataset was obtained from https://www.kaggle.com/ashaheedq/video-games-sales-2019, it contains a
        list of video games with sales, critic and users score.<br><br>
      </li>
      <li>The second dataset was scraped from https://www.vgchartz.com, it contains the hardware unit sales of current
        generation consoles.<br><br>
      </li>
      <li>Check the pictures below for a sneak peek.<br><br>
      </li>
    </ul>
    </p>

    <form method="" action="" name="datasets">
      <select id="switchImage">
        <option value="0" selected>Dataset1</option>
        <option value="1">Dataset2_1</option>
        <option value="2">Dataset2_2</option>
      </select>
    </form>
    <img class="datasets" src='/static/datasets/dataset1.jpg' /><br><br>

    <p>
    <h4>Some shortcomings of this webapp.</h4>
    <ul>
      <li> For both sales prediction and games recommendation, I only used simple models for computational speed and
        full models were included in the GitHub repository.<br><br>
      </li>
      <li> The attempt of deploying full models produced files with very large size and I did not figure out how to
        properly handle them for the time being.<br><br>
      </li>
      <li> As a result, if I had deployed the full models, it will require more time to successfully predict sales and
        recommend games which is not ideal for a webapp.<br><br>
      </li>
    </ul>
    </p>
  </div>

  <div id="Visualization" class="tabcontent">
    <h1>Main Analysis and Visualization</h1>
    <p>
    <h4>To better understand the proposed problems. Let's first take a look at the current video game market.</h4>
    </p>
    <p>There are mainly four different platforms for the current generation, namely the PS4, XOne, NS and PC.<br>
      Here are some plots showing the current market share in terms of hardware sales and game sales.
    </p><br><br>

    <div style="display: flex;">
      <form method="" action="" name="plots">
        <select id="changeImage">
          <option value="0" selected>Total Console Sales</option>
          <option value="1">Total Game Sales</option>
          <option value="2">Yearly Game Sales</option>
        </select>
      </form>
      <img class="plots" src='/static/plots/hardware_sales.png' height="297" width="392" />

      <form method="" action="" name="bokeh_genre">
        <select id="top5_genres">
          <option value="0" selected>Top5 genres on PS4</option>
          <option value="1">Top5 genres on XOne</option>
          <option value="2">Top5 genres on NS</option>
          <option value="3">Top5 genres on PC</option>
        </select>
      </form>
      <img class="bokeh_genre" src='/static/top5_genres/genres_ps4.jpg' height="300 width=" 250" />

      <form method="" action="" name="bokeh_publisher">
        <select id="top5_publishers">
          <option value="0" selected>Top5 publishers on PS4</option>
          <option value="1">Top5 publishers on XOne</option>
          <option value="2">Top5 publishers on NS</option>
          <option value="3">Top5 publishers on PC</option>
        </select>
      </form>
      <img class="bokeh_publisher" src='/static/top5_publishers/publishers_ps4.jpg' height="300 width=" 250" />
    </div><br><br>

    <ul>
      <li>From early observations, for gaming consoles, we can see that PS4 is clearnly taking the lead in both hardware
        sales and game sales.<br>
        This suggests that the platform itself has a very strong player base. It is only logical
        for developers to stay with the more popular platform.<br>
        And of course, this is not the whole story.<br><br>
      </li>
      <li>Notice that we didnot take PC sales into account for hardware sales, this is because not everyone purchases PC
        for gaming.<br>
        However, we are able to explore game sales for PC. Surprisingly, from 2013 to 2018, total PC game
        sales surpassed console game sales.<br>
        In particular, there was a spike in 2014 PC game sales. Detailed reason is
        yet to be determined, but multiple articles from 2014 and 2015 confirmed my discovery.<br><br>
      </li>
      <li>Overall, I am more confident to say that PC and PS4 should probably be the first choice for developers to
        develop and release their games on.<br><br>
      </li>
    </ul>
    <p>
    <h4>Now that we have found the prefered platforms for our developers, what's next?</h4>

    <ul>
      <li>I would like to find the most popular genres and publishers for each platform.<br><br></li>
      <li>Then we can advise the developers
        to make certain genre of games and publish via some particular publishers for
        maximizing profitability.<br><br></li>
      <li>The two addtional plots shows the top5 genres and top5 publishers for each platform.<br></li>
    </ul>
    </p>

    <!-- <form id='visual_Plot' method='post' action='graph1'>
      <label for="bokeh_Plot"></label>
      <select id="bokeh_plot" onChange=selectChange(this.value)>
        <option disabled selected value> -- select a plot -- </option>
        <option value="df_pc">Top5 genres on PC</option>
        <option value="df_ps4">Top5 genres on PS4</option>
        <option value="df_xone">Top5 genres on XOne</option>
        <option value="df_ns">Top5 genres on NS</option>
      </select>
    </form> -->
    <!-- 
    <form id='visual' method='post' action='graph2'>
      <label for="bokeh"></label>
      <select id="bokeh" name="bokeh">
        <option disabled selected value> -- select a Platform -- </option>
        <option value="df_pc">Top5 publishers on PC</option>
        <option value="df_ps4">Top5 publishers on PS4</option>
        <option value="df_xone">Top5 publishers on XOne</option>
        <option value="df_ns">Top5 publishers on NS</option>
      </select>
    </form> -->
  </div>

  <div id="Developer-Portal" class="tabcontent">
    <h1>Game Sales Prediction</h1>
    <p>
    <h4>Developers, wondering about whether or not your game will sell well? Try it out on my predictive model.</h4>
    Next let's talk about modeling. This is where I want to provide a solution for the developers by connecting all the
    pieces together.<br>

    <ul>
      <li>To start, I will briefly mention the data processing step.<br>
        One of the biggest challenge for this project is to fill in missing value in the dataset.<br>
        The approach that I took is to replace missing value with the mean of each genre within each platform.<br><br>
      </li>
      <li>For the modeling step, I ran different types of regression models, ranging from linear regression to
        randomforest regression.<br>
        I found the best result so far using randomforest regression with cross validation. It gives me a R^2 score of
        0.71 and MSE of 0.27.<br>
        The model is yet to be improved as I learn more about advanced machine learning algorithms.<br><br>
      </li>
      <li>The finished product is a predictive indicator on what the game sales will be based on platform, genre,
        publisher and rating.<br>
        I included rating under the assumption that highly rated games tend to sell well.<br>
        Now developers can actually see the differences among different choices they make.<br><br>
      </li>
    </ul>
    </p>
    <!-- <form method='post' action="index"> -->
    <form method='post' action="" id="predictor_form" onsubmit="predictorSubmit(); return false;">
      <label for="platform"></label>
      <select id="platform" name="platform">
        <option disabled selected value> -- select a Platform -- </option>
        <option value="PC">PC</option>
        <option value="PS4">PlayStation 4</option>
        <option value="XOne">Xbox One</option>
        <option value="NS">Nintendo Switch</option>
      </select>
      <label for="genre"></label>
      <select id="genre" name="genre">
        <option disabled selected value> -- select a Genre -- </option>
        <option value="Shooter">Shooter</option>
        <option value="Action">Action</option>
        <option value="Misc">Misc</option>
        <option value="Platform">Platform</option>
        <option value="Sports">Sports</option>
        <option value="Role-Playing">Role-Playing</option>
        <option value="Racing">Racing</option>
        <option value="Adventure">Adventure</option>
        <option value="Fighting">Fighting</option>
        <option value="Simulation">Simulation</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Strategy">Strategy</option>
        <option value="Action-Adventure">Action-Adventure</option>
        <option value="Party">Party</option>
        <option value="Music">Music</option>
        <option value="MMO">MMO</option>
        <option value="Visual Novel">Visual Novel</option>
        <option value="Sandbox">Sandbox</option>
        <option value="Board Game">Board Game</option>
        <option value="Education">Education</option>
      </select>
      <label for="publisher"></label>
      <select id="publisher" name="publisher">
        <option disabled selected value> -- select a Publisher -- </option>
        <option value="Nintendo">Nintendo</option>
        <option value="Sega">Sega</option>
        <option value="Electronic Arts">Electronic Arts</option>
        <option value="Activision">Activision</option>
        <option value="Sony Computer Entertainment">Sony Entertainment</option>
        <option value="Ubisoft">Ubisoft</option>
        <option value="Microsoft">Microsoft</option>
        <option value="Konami">Konami</option>
        <option value="Capcom">Capcom</option>
        <option value="THQ">THQ</option>
        <option value="Atari">Atari</option>
        <option value="Square Enix">Square Enix</option>
        <option value="Rockstar Games">Rockstar Games</option>
        <option value="Namco">Namco</option>
        <option value="Acclaim Entertainment">Acclaim Entertainment</option>
        <option value="Bandai">Bandai</option>
        <option value="Hudson Soft">Hudson Soft</option>
        <option value="Bethesda Softworks">Bethesda Softworks</option>
        <option value="LucasArts">LucasArts</option>
      </select>
      <label for="critic_score"></label>
      <input type="text" id="critic_score" name="critic_score" placeholder="-- enter a Rating --"
        style="text-align: center">
      <br>
      <br>
      <!-- <input type="submit" value="Submit"> -->
      <button type="button" class="predictor_button" onclick="predictorSubmit()">Submit 👆</button>
    </form>
    <div id="predictor_result"></div>
  </div>

  <div id="Gamer-Island" class="tabcontent">
    <h1>Game Recommendation</h1>
    <p>
    <h4>Gamers, wondering about which game to play next? Try it out on my recommender system.</h4>
    Finally, let's not forget our dear consumers, the gamers.<br>
    <ul>
      <li>Another important aspect to consider is how do players know which game to play next within their
        current platform?<br>
        This also motivates another business question, how does each platform keep their players satisfied and stay
        within their current platforms?<br><br>
      </li>
      <li>With the help of our solution provided to the developers, more popular games will be released on each platform
        post prediciton to attract more players for higher sales.<br>
        As a result, gamers will have access to a large collection of predicted popular games.<br><br>
      </li>
      <li>The finished product is a content based game recomendation system built using jaccard similarity, it suggests
        top 10 games to corresponding player.<br>
        Notice that for each platform, the results returned are different.<br><br>
      </li>
    </ul>

    </p>
    <form method='post' action="" id="recommender_form" onsubmit="recommenderSubmit(); return false;">
      <label for="platform_rec"></label>
      <select id="platform_rec" name="platform_rec">
        <option disabled selected value> -- select a Platform -- </option>
        <option value="PC">PC</option>
        <option value="PS4">PlayStation 4</option>
        <option value="XOne">Xbox One</option>
        <option value="NS">Nintendo Switch</option>
      </select>
      <label for="name"></label>
      <input type="text" id="name" name="name" placeholder="-- enter a Game Name --" style="text-align: center">
      <br>
      <br>
      <button type="button" class="recommender_button" onclick="recommenderSubmit()">Submit 👆</button>
    </form>
    <img id="recommender_result" />
  </div>

  <script>
    function openPage(pageName, elmnt, color) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.backgroundColor = color;
    }

    // take variables from dropdown boxes, creating javascript objects, 
    // send ajax post request to predictor and then put data into json format
    function predictorSubmit() {
      var platform = $('#platform').val();
      var publisher = $('#publisher').val();
      var genre = $('#genre').val();
      var critic_score = $('#critic_score').val();
      var result = { platform, genre, publisher, critic_score };
      $.ajax
        ({
          type: "POST",
          url: "predictor",
          contentType: 'application/json',
          data: JSON.stringify(result),
          success: function (response) {
            var result = parseFloat(response);
            var color;
            if (result > 3) {
              // green
              color = 'green';
            } else if (result > 1) {
              // orange
              color = 'orange';
            } else {
              // red
              color = 'red';
            }

            document.getElementById('predictor_result').innerHTML = `<p>Based on our prediction, your game sales will likely be: <span><font color=" ${color} "> ${result} </font></span> million units<br><br> 
            <i class="fa fa-square" style="color:green"></i> suggests good sales<br>
            <i class="fa fa-square" style="color:orange"></i> suggests moderate sales<br>
            <i class="fa fa-square" style="color:red"></i> suggests poor sales<br></p>`
          }
        });
    }

    // function recommenderSubmit() {
    //   var platform_rec = $('#platform_rec').val();
    //   var name = $('#name').val();
    //   var result = { platform_rec, name };
    //   $.ajax
    //     ({
    //       type: "POST",
    //       url: "recommender",
    //       contentType: 'application/json',
    //       data: JSON.stringify(result),
    //       success: function (data) {
    //         document.getElementById('recommender_result').innerText = "Based on our recommendation, here is a list of games you might like: \n\n" + data;
    //       }
    //     });
    // }

    function recommenderSubmit() {
      var platform_rec = $('#platform_rec').val();
      var name = $('#name').val();
      var result = { platform_rec, name };
      var url = "/recommender";

      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(result)
      })
        .then(response => {
          return response.blob();
        })
        .then(blob => {
          // append it to your page
          document.getElementById('recommender_result').src = URL.createObjectURL(blob);
        })
    }

    // change image accoring dropdown box
    var imagesArray = [
      '/static/plots/hardware_sales.png', // represents val 0,
      '/static/plots/game_sales.png', // 1,
      '/static/plots/yearly_sales.png', // 2,
    ];

    $('#changeImage').change(function () {
      var val = parseInt($('#changeImage').val());
      $('.plots').attr("src", imagesArray[val]);
    });

    // change image accoring dropdown box
    var imagesList = [
      '/static/datasets/dataset1.jpg', // represents val 0,
      '/static/datasets/dataset2_1.jpg', // 1,
      '/static/datasets/dataset2_2.jpg', // 2,
    ];

    $('#switchImage').change(function () {
      var val = parseInt($('#switchImage').val());
      $('.datasets').attr("src", imagesList[val]);
    });

    // change image accoring dropdown box
    var genresList = [
      '/static/top5_genres/genres_ps4.jpg', // represents val 0,
      '/static/top5_genres/genres_xone.jpg', // 1,
      '/static/top5_genres/genres_ns.jpg', // 2,
      '/static/top5_genres/genres_pc.jpg', // 3,
    ];

    $('#top5_genres').change(function () {
      var val = parseInt($('#top5_genres').val());
      $('.bokeh_genre').attr("src", genresList[val]);
    });

    // change image accoring dropdown box
    var publishersList = [
      '/static/top5_publishers/publishers_ps4.jpg', // represents val 0,
      '/static/top5_publishers/publishers_xone.jpg', // 1,
      '/static/top5_publishers/publishers_ns.jpg', // 2,
      '/static/top5_publishers/publishers_pc.jpg', // 3,
    ];

    $('#top5_publishers').change(function () {
      var val = parseInt($('#top5_publishers').val());
      $('.bokeh_publisher').attr("src", publishersList[val]);
    });


    // // Submit form without submit button.
    // function selectChange(val) {
    //   //Set the value of action in action attribute of form element.
    //   //Submit the form
    //   $('#visualPlot').submit();
    // };

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();


  </script>

</body>

</html>